[language-server.typos]
command = "typos-lsp"

[[language]]
name = "bash"
language-servers = [ "bash-language-server", "typos", "scls", "hx-lsp" ]
shebangs = [ "bash" ]

[[language]]
name = "css"
language-servers = [ "vscode-css-language-server", "typos", "scls", "hx-lsp" ]

[[language]]
name = "elixir"
language-servers = ["nextls", "typos", "hx-lsp", "scls"]
formatter = { command = "mix", args = ["format", "-"] }

[[language]]
name = "git-commit"
language-servers = [ "typos", "scls" ]

[[language]]
name = "gleam"
formatter = { command = "gleam", args = ["format", "--stdin"] }
scope = "source.gleam"
file-types = ["gleam"]
language-servers = ["gleam", "typos", "scls", "hx-lsp"]
auto-format = true

[[language]]
name = "go"
formatter = { command = "goimports" }
scope = "source.go"
injection-regex = "go"
file-types = ["go"]
roots = ["Gopkg.toml", "go.mod"]
comment-token = "//"
language-servers = [ "gopls", "typos", "scls", "hx-lsp" ]
indent = { tab-width = 4, unit = "\t" }

[[language]]
name = "groovy"
scope = "source.groovy"
file-types = ["groovy", "gvy", "gy", "gsh", "gradle", "jenkinsfile"]
roots = ["flake.nix", "build.gradle", "build.gradle.kts"]
comment-token = "//"
indent = { tab-width = 4, unit = "    " }
auto-format = true
language-servers = ["groovy-language-server", "hx-lsp"]

[language-server.nextls]
command = "nextls"
args = ["--stdio"]

[language-server.groovy-language-server]
command = "java"
args = ["-jar", "~/lib/java/groovy-language-server-all.jar"]

[[language]]
name = "html"
language-servers = [ "vscode-html-language-server", "typos", "scls", "hx-lsp" ]

[[language]]
name = "htmldjango"
scope = "source.htmldjango"
injection-regex = "htmldjango"
file-types = [{ glob = "**/templates/*.html" }]
roots = []
auto-format = true
formatter = { command = "djlint", args = ["-", "--reformat", "--quiet"] }
language-servers = ["scls", "hx-lsp"]
indent = { tab-width = 2, unit = "  " }

[[grammar]]
name = "htmldjango"
source = { git = "https://github.com/interdependence/tree-sitter-htmldjango", rev = "b2dba02eddab66be669022320273d0dfe1ff923d" }

[language-server.hx-lsp]
command = "hx-lsp"

[[language]]
name = "javascript"
language-servers = [ "typescript-language-server", "typos", "scls", "hx-lsp" ]
auto-format = true

[[language]]
name = "json"
language-servers = [ "vscode-json-language-server", "typos", "scls", "hx-lsp" ]

[[language]]
name = "kotlin"
scope = "source.kotlin"
injection-regex = "kotlin"
file-types = ["kt", "kts"]
roots = ["settings.gradle", "settings.gradle.kts", "build.gradle.kts"]
indent = { tab-width = 4, unit = "    " }
comment-token = "//"
language-servers = ["kotlin-language-server"]
formatter = { command = "ktlint", args = ["--format", "--stdin"] }
auto-format = true

[language-server.kotlin-language-server]
command = "kotlin-language-server"

[[language]]
name = "markdown"
language-servers = [ "marksman", "typos", "scls", "hx-lsp" ]

[[language]]
name = "nix"
formatter = { command = 'nixfmt' }
language-servers = [ "nixd", "typos", "scls", "hx-lsp" ]
auto-format = true

[language-server.nixd]
command = "nixd"

# Python
[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.pyright.config.python]
analysis = { typeCheckingMode = "strict", autoImportCompletions = true, autoSearchPaths = true, useLibraryCodeForTypes = true }
pythonPath = "python"

[language-server.ruff]
command = "ruff"
args = ["server", "--preview"]

[language-server.ruff.config.settings]
logLevel = "debug"
lineLength = 120

[language-server.ruff.config.settings.lint]
select = ["E4", "E7"]
preview = false

[language-server.ruff.config.settings.format]
preview = true

[[language]]
name = "python"
scope = "source.python"
file-types = ["py", "pyi"]
roots = ["pyproject.toml", "setup.py", "Pipfile", "requirements.txt"]
formatter = { command = "zsh", args = ["-c", """
  ruff check --select I --fix - | ruff format -
  """] }
auto-format = true
language-servers = ["pyright", "ruff", "pylsp", "typos", "scls", "hx-lsp"]

[language.debugger]
name = "debugpy"
command = "python"
args = ["-m", "debugpy.adapter"]
transport = "stdio"
[[language.debugger.templates]]
name = "source"
request = "launch"
completion = [ { name = "entrypoint", completion = "filename" } ]
args = { mode = "debug", program = "{0}" }

[language-server.pylsp.config.pylsp]
plugins.ruff.enabled = true
plugins.rope_autoimport.enabled = true

[[language]]
name = "racket"
formatter = { command = "raco", args = ["fmt"] }
auto-format = true

# Rust

[[language]]
name = "rust"
auto-format = true
formatter = { command = "rustfmt" }
language-servers = [ "rust-analyzer", "typos", "scls", "hx-lsp" ]


[auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'

roots = [
  "Cargo.toml",
  "Cargo.lock"
]

[language-server.rust-analyzer]
command = "rust-analyzer"
check.command = "clippy"
check.extraArgs = ["--all-targets", "--", "-W", "clippy::pedantic"]

[language-server.rust-analyzer.config]
inlayHints.bindingModeHints.enable = false
inlayHints.closingBraceHints.minLines = 10
inlayHints.closureReturnTypeHints.enable = "with_block"
inlayHints.discriminantHints.enable = "fieldless"
inlayHints.lifetimeElisionHints.enable = "skip_trivial"
inlayHints.typeHints.hideClosureInitialization = false

# simple-completion-language-server

[language-server.scls]
command = "simple-completion-language-server"

[language-server.scls.config]
max_completion_items = 100           # set max completion results len for each group: words, snippets, unicode-input
feature_words = true                 # enable completion by word
feature_snippets = true              # enable snippets
snippets_first = true                # completions will return before snippets by default
snippets_inline_by_word_tail = false # suggest snippets by WORD tail, for example text `xsq|` become `x^2|` when snippet `sq` has body `^2`
feature_unicode_input = false        # enable "unicode input"
feature_paths = false                # enable path completion
feature_citations = false            # enable citation completion (only on `citation` feature enabled)

# write logs to /tmp/completion.log
[language-server.scls.environment]
RUST_LOG = "info,simple-completion-language-server=info"
LOG_FILE = "/tmp/completion.log"

[[language]]
name = "toml"
language-servers = [ "taplo", "typos", "scls", "hx-lsp" ]

[[language]]
name = "typescript"
shebangs = ["deno"]
roots = ["deno.json", "deno.jsonc", "package.json"]
auto-format = true
language-servers = [ "vscode-eslint-language-server", "typos", "scls", "deno", "deno-lsp", "hx-lsp" ]
formatter = { command = "deno", args = ["fmt", "-"] }

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]

[language-server.deno-lsp.config.deno]
enable = true
unstable = true
suggest.imports.hosts = { "https://deno.land" = true }
inlayHints.parameterNames.enabled = "all"
inlayHints.parameterTypes.enabled = true
inlayHints.variableTypes.enabled = true
inlayHints.propertyDeclarationTypes.enabled  = true
inlayHints.functionLikeReturnTypes.enabled = true
inlayHints.enumMemberValues.enabled = true

# introduce a new language to enable completion on any doc by forcing set language with :set-language stub
[[language]]
name = "stub"
scope = "text.stub"
file-types = []
shebangs = []
roots = []
auto-format = false
language-servers = [ "scls" ]

