[Unit]
Description=Redland - Screen color temperature adjustment
Documentation=https://github.com/ramojus/redland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=%h/.config/systemd/user/redland-wrapper.sh
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
