[Unit]
Description=Redland - Screen color temperature adjustment
Documentation=https://github.com/ramojus/redland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/sh -c '\
  SUNRISE=$(sunwait list civil rise 45.9N 74.2W | cut -d" " -f1) && \
  SUNSET=$(sunwait list civil set 45.9N 74.2W | cut -d" " -f1) && \
  exec redland --sunrise "$SUNRISE" --sunset "$SUNSET" --low 2500'
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
