@import url("/nix/store/j14pip18yaxz73qgppyqxy3szizjwlx0-ulauncher-5.15.7/share/ulauncher/themes/light/theme-gtk-3.20.css");

@import url("theme.css");
.input {
    caret-color: #89b4fa;
}
/* workaround for a bug in GTK+ < 3.20 */
.selected.item-box {
    border: none;
}